/node_modules
/public/hot
/public/.htaccess
/public/.htpasswd
/public/storage
/public/downloads/*
/public/download_resources/*
!/public/downloads/.gitkeep
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
