$brand-primary: #01256a;
$primary: #01256a;
$blue: #01256a;
$theme-colors: (
  "primary": $primary
);
$colors: (
  "blue": $primary
);
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$sco-red: #d00505;
$darkborder: #222;
$lightborder: #ddd;
$sco-dark: #222;

$sco-p: #d52b1e;
$sco-gt: #009639;
$sco-gtc: #1c1c1c;
$sco-gt3: #1c1c1c;
$sco-gt1: #1da35c;
$sco-dp: #d1291d;
$sco-gt-ra: #f4f4f4;
$sco-cc: #0160c2;
$sco-pc: #21578a;

$facebookblue: #3b5998;
$twitterblue: #4099FF;
$youtubered: #ff0000;
