$brand-primary: #01256a;
$primary: #01256a;
$blue: #01256a;
$theme-colors: (
  "primary": $primary
);
$colors: (
  "blue": $primary
);
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$sco-red: #d00505;
$darkborder: #222;
$lightborder: darken(#fff, 5%);
$sco-dark: #222;
$paleborder: darken(#fff, 10%);

$facebookblue: #3b5998;
$twitterblue: #4099FF;
$youtubered: #ff0000;
$coreorange: #f23c0c;
$racespotblack: #000;
$discordviolet: #7289da;

$sco-class-colors:(
"Prototype1": #d52b1e,
"GT1": #009639,
"GTC1": #1c1c1c,
"GT13": #1da35c,
"GT33": #1c1c1c,
"DP4": #d1291d,
"GT4": #f4f4f4,
"CC4": #0160c2,
"P5": #d52b1e,
"PC5": #21578a,
"GT5": #009639,
"P16": #E62B1E,
"P26": #3954B8,
"GT6": #00AF2F,
"cleanx6": #111,
"GT37": #111111,
"GT47": #005aab
);

$car_manufacturer:(
"1": url('img/hpd.svg'),
"2": url('img/ferrari.svg'),
"3": url('img/ford.svg'),
"4": url('img/audi-rings.svg'),
"5": url('img/mercedes-star.svg'),
"6": url('img/ferrari.svg'),
"9": url('img/bmw.svg'),
"10":url('img/porsche.svg'),
"12":url('img/audi-rings.svg'),
"13":url('img/porsche.svg'),
"14":url('img/porsche.svg'),
"15":url('img/bmw.svg')
);
