//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
//@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "myvariables";
@import "node_modules/bootstrap/scss/bootstrap";

html{
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 18px;
}
body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #fff;
  background-image: url('/img/sco2k19_website_background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}
@include media-breakpoint-down(sm){
  html{
    font-size: 14px;
  }
}

.container{
  padding:0;
}
nav{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  .bg-sco-dark{
    background-color: $sco-dark !important;
  }
}
main{
  margin-top: 0;
  padding: 1.5rem;
  background-color: #fff;
  //border: 1px solid #222;
  //border-top-width: 0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
@include media-breakpoint-down(sm){
  main{
    padding: 0.5rem;
  }
}

.sco-header{
  padding: 1rem 5%;
  background-color: rgba(255,255,255,0.7);
  img{
    width:100%;
    height:auto;
  }
}
.sco-videoheader{
  background-color: rgba(255,255,255,0.7);
  position: relative;
  img{
    display:block;
    width:100%;
    height:auto;
  }
  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

#navbar-brand-scologo{
  width: 32px;
  height: auto;
}
@include media-breakpoint-only(md){
  .hidden-md-only{
    display:none;
  }
}
@include media-breakpoint-up(lg){
  #nav-list{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    >li{

    }
  }
}
a.sco-nav-link{
  //border-radius: 0px;
  color: #fff !important;
  &:hover{
    background-color: #eee !important;
    color: #000 !important;
    //border-radius: $border-radius;
  }
}
#flash_message{
  font-size: 1rem;
  position:fixed;
  padding-right: 2rem;
  top:1rem;
  left:1rem;
  max-width: 50%;
  display: none;
  z-index: 5000;
  border: 2px solid $brand-primary;
  button.close{
    position:absolute;
    right:5px;
    top:5px;
  }
}
.badge-normal{
  font-size: 100%;
}

//class color stuff
@each $class, $color in $sco-class-colors{
  .class-btn-background-#{$class}{
    background-color: $color;
    @if(lightness($color) > 60){
      color: #000;
    }@else{
      color: #fff;
    }

    &:hover{
      background-color: darken($color, 10%);
      @if(lightness($color) > 60){
        color: #000;
      }@else{
        color: #fff;
      }
    }
  }

  .class-btn-background-outline-#{$class}{
    background-color: #fff;
    color: $color;
    border-color: $color;

    &:hover{
      background-color: $color;
      @if(lightness($color) > 60){
        color: #000;
      }@else{
        color: #fff;
      }
    }
  }

  .badge-#{$class}{
    background-color: $color;
    @if(lightness($color) > 60){
      color: #000;
    }@else{
      color: #fff;
    }
  }
}

.team-overview-class{
  margin: 2rem 0;
}
#driver-search-button{
  cursor: pointer;
}
.search-group-title{
  width: 20%;
  min-width: 150px
}
#add-driver-form{
  float:right;
}
.add-driver-form{
  display:none;
}
.add-driver-form-active{
  display:block;
}
/*.nav-item-fullwidth{
  width: 100%;
}*/
.round-tabs .nav-item .nav-link{
  border: 1px solid rgba(240,240,240,1);
}
.round-tabs a.nav-link.active, .round-tabs a.nav-link:hover {
  background-color: $brand-primary !important;
  color: #fff !important;
}
#round-sessions-table th,
#round-sessions-table td{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.jumbotron.round-frame{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-top: 2rem;
}
#rulebook{
  h3{
    width: auto;
    margin-top:2rem;
    padding: 0.5rem;
    cursor: pointer;
    &:hover{
      i{
        color: $brand-primary;
      }
    }
  }
  table{
    margin-top:1rem;
    margin-bottom:1rem;
  }
}
#openAllRules{
  cursor: pointer;
}
ol.rulebook-section{
 list-style-type: none;
 counter-reset: item;
 display: none;
 li{
   padding-left: 1rem;
   margin-top: 0.5rem;

   pre{
     display: block;
     padding: 1rem 2rem;
     text-align: center;
     background-color: #eee;
     border: 1px solid #444;
     margin: 1rem 3rem;
   }
 }
 >li::before{
   content: counter(item, lower-alpha) ") ";
   counter-increment: item;
   font-weight: bold;
   position: absolute;
   left:56px;
 }
 ol{
   list-style-type: none;
   counter-reset: item2;
   >li::before{
     content: counter(item, lower-alpha) "." counter(item2, decimal) ") ";
     counter-increment: item2;
     font-weight: bold;
     position: absolute;
     left:96px;
   }
 }
}

#sco-user-bar{
  background-color: $sco-dark;
}

.facebook-feed-element{
  padding: 1rem;
  background-color: #fff;
  border: 1px solid $lightborder;

  &:last-child{
    margin-bottom: 0;
  }

  .facebook-feed-element-header{
    font-size: 0.8rem;
  }
  .facebook-feed-element-body{
    padding: 0 3*$spacer;
    margin-top:1rem;
  }
  .facebook-feed-element-picture{
    padding: 0 3*$spacer;
    margin-top:1rem;
    img{
      display:block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height:auto;
      border-radius: 0.2rem;
    }
  }

  @include media-breakpoint-down(sm){
    .facebook-feed-element-body,
    .facebook-feed-element-picture{
      padding: 0 0*$spacer;
    }
  }

  .facebook-feed-element-link{
    text-align: center;
    margin-top:1rem;
    a{
      max-width:80%;
      overflow-x: hidden;
    }
  }
}
.btn-outline-dark:hover{
  color: #fff !important;
}
#twitter-module{
  overflow-y: scroll;
  height: 30rem;
  border: 1px solid $lightborder;
  border-radius: $border-radius;
  flex-grow: 1;
}
footer{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: $brand-primary;
  color: #fff;
  a{
    color: #fff !important;
    &:hover{
      color: $sco-red !important;
    }
  }
  a.fblink:hover{
    color: $facebookblue !important;
  }
  a.twlink:hover{
    color: $twitterblue !important;
  }
  a.ytlink:hover{
    color: $youtubered !important;
  }
}
nav{
  background-color: $sco-dark !important;
}


table.result-table{
  table-layout: auto;
  th{
    width: auto;
    &:nth-child(1){
      width: 4rem;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(6),
    &:last-child{
      width: 5rem;
    }
    &:nth-child(5){
      width: 8rem;
    }
  }
  .small-result{
    font-size: 0.8rem;
    padding: 1rem 0.1rem !important;
    width: auto !important;
  }
}
#results_controlbox_class button{
  cursor:pointer;
}

body#admin-dashbord{
  background: 0;
  background-color: #fff;

  nav{
    box-shadow: none;
    background-color: #fff !important;
  }

  .dashbord-modul{
    display:block;
    width: auto;
    overflow: hidden;
    float:left;
    margin: 0.5rem;
  }
  .dashbord-log-table{
    max-height: 500px;
    overflow-y: scroll;
  }
}

.sco-table-sort{
  cursor: pointer;
  :hover{
    text-decoration: underline;
  }
}
.useless-card-body{
  font-family: 'IM Fell Great Primer', serif;
  color: #444;
}

#teams-table{
  th,td{
    box-sizing: border-box;
    &:nth-child(1){
      width:7%;
    }
    &:nth-child(2){
      width:auto;
    }
    &:nth-child(3){
      width:18%;
    }
    &:nth-child(4){
      width:20%;
    }
    &:nth-child(5){
      width:13%;
    }
  }

  @include media-breakpoint-down(sm){
    th,td{
      box-sizing: border-box;
      &:nth-child(1){
        width:7%;
      }
      &:nth-child(2){
        width:auto;
      }
      &:nth-child(3){
        display: none;
      }
      &:nth-child(4){
        display: none;
      }
      &:nth-child(5){
        width:13%;
      }
    }
  }
}

.teamtabletoggle{
  cursor: pointer;

  .toggle-icon{
    i{
      transition: transform .5s cubic-bezier(1,0,.5,1.76);
    }
    i.closed{
      transform: rotate(0deg);
    }
    i.open{
      transform: rotate(180deg);
    }
  }
}

.team_summary{
  font-weight: normal;
  font-size: 1rem;
  margin-left: 1rem;

  .team_summary_toggler{
    cursor: pointer;
  }

  .team_summary_sep{
    display: inherit;
  }
  .team_summary_title{
    display: none;
  }
}
.team_summary_open{
  display:block;
  position:absolute;
  top: 0rem;
  left: 1.6rem;
  background-color: #fff;
  @extend .p-3;
  @extend .border;
  @extend .rounded;

  .team_summary_toggler{
    display: block;
  }

  .team_summary_sep{
    display: none !important;
  }

  .team_summary_sub{
    display: block !important;
    @extend .my-1;

    .team_summary_title{
      display: inline-block !important;
    }
  }
}

span.clear_driver{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.crs-ptr{
  cursor: pointer;
}

.admin-alert{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

.admin-checkbox{
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1rem;
  width: 3rem;

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked{
      ~.admin-check{
        background-image: url('img/checked.png');
      }
    }

  }
  &:hover{
    input{
      ~.admin-check{
        background-image: url('img/unchecked_hover.png');
      }
      &:checked{
        ~.admin-check{
          background-image: url('img/checked_hover.png');
        }
      }
    }
  }
}

.admin-check{
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 3rem;
  background-color: #fff;
  background-size: contain;
  background-image: url('img/unchecked.png');
}

#other-site{
  margin: -1.5rem -1.5rem 1rem -1.5rem;
  padding: 0.5rem 1rem;
  background-color: $blue;
  color: $white;
  a{
    font-weight: bold;
    color: $white;
    &:hover{
      color: $red;
    }
  }
}
@include media-breakpoint-down(sm){
  #other-site{
    margin: -0.5rem -0.5rem 1rem -0.5rem;
  }
}

table#cleanx-result{
  th{
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4){
      width: 4rem;
    }

    &:nth-child(3){
      width: auto;
    }
  }
}
