@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
@import "node_modules/normalize-scss/sass/normalize";
@import "myvariables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "sco_forms";
@import "sco_markdown";

html{
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 18px;
  background-color: #fff;
}
body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}
@include media-breakpoint-down(sm){
  html{
    font-size: 14px;
  }
}

.container{
  padding:0;
}

#loginmodal{
  z-index: $zindex-modal+100;
}

nav{
  position: fixed;
  z-index: $zindex-modal;


  #toolbar{
    z-index: $zindex-modal;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 16rem;
    height: 3rem;
    background-color: rgba(255,255,255,0);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%);
    background-size: 32rem 100%;
    background-position: -16rem 0;

    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    font-size: 1rem;
    transition: all 0.25s;

    button,a{
      background-color: #fff;
      border: 0;
      color: $primary;
      position: relative;
      width: 2rem;
      height: 2rem;
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      transition: all 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;


      &:hover{
        text-decoration: none;
        transform: translateY(-0.25rem) translateX(-0.25rem);
        -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
        box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
      }
    }
    button.nav-toggler-closed{
      display: flex;
    }
    button.nav-toggler-open{
      display: none;
    }
  }

  #mainnav{
    z-index: $zindex-modal;
    display: block;
    position: absolute;
    width: 5rem;
    background-color: #fff;
    transform: translateX(calc(-1px - 2.75rem));
    transition: all 0.25s;

    .nav-group{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;

      .nav-group-title{
        width: 2.75rem;
        min-width: 2.75rem;
        text-align: center;
        margin-right: 0.20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $primary;
        border: 0;
        border-top: 1px solid rgba(255,255,255,0.25);
        transition: all 0.25s;

        span{
          transform: rotate(-90deg);
          display: block;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .nav-group-links{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-grow: 1;

        a{
          background-color: #fff;
          padding: 0.5rem;
          transition: all 0.25s;
          font-size: 1.1rem;
          text-decoration: none;
          white-space:nowrap;
          overflow-x: hidden;
          width: 2rem;


          &:hover{
            width: 13rem;
            transform: translateY(-0.25rem) translateX(-0.25rem);
            -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
            box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
            text-decoration: none;
          }
        }
      }

      &:first-child .nav-group-title{
        border-top:0;
      }
    }
  }

  &.open{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background: rgba(32,32,32,0.5);
    backdrop-filter: blur(8px);

    #toolbar{
      background-position: 0rem 0;
    }

    button.nav-toggler-closed{
      display: none !important;
    }
    button.nav-toggler-open{
      display: flex !important;
    }

    #mainnav{
      transform: translateX(0px);
      width: 16rem;

      .nav-group-title{
        width: 3rem !important;
        min-width: 3rem !important;
        margin-right: 0rem !important;
      }

      .nav-group-links a{
        width: 100% !important;
      }
    }
  }
}

main{
  margin-top: 0;
  background-color: #fff;

}
@include media-breakpoint-down(sm){
  main{
    padding-right: 0.5rem;
  }
}
.header-container{
  border-bottom: 1px dashed $primary;

  header.sco-header{
    width: 100%;
    height: 12rem;
    background-image: url('img/test_banner.jpg');
    background-repeat: repeat-x;
    background-position: center 0rem;
    background-size: cover;

    div.logo{
      height: 12rem;
      width: 100%;
      background-color: rgba(255,255,255,0.5);
      backdrop-filter: blur(4px);
      //object-fit: contain;

      img {
        max-height: 12rem;
        max-width: 100%;
        height: auto;
        width: auto;

        @include media-breakpoint-down(sm){
          max-height: 9rem;
        }
      }
    }
  }

}

.sco-videoheader{
  background-color: rgba(255,255,255,0.7);
  position: relative;
  img{
    display:block;
    width:100%;
    height:auto;
  }
  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
@include media-breakpoint-only(md){
  .hidden-md-only{
    display:none;
  }
}

#flash_message{
  font-size: 1rem;
  position:fixed;
  padding-right: 2rem;
  top:1rem;
  left:1rem;
  max-width: 50%;
  display: none;
  z-index: 5000;
  border: 2px solid $brand-primary;
  button.close{
    position:absolute;
    right:5px;
    top:5px;
  }
}
.badge-normal{
  font-size: 100%;
}

//class color stuff
@each $class, $color in $sco-class-colors{
  .class-btn-background-#{$class}{
    background-color: $color;
    @if(lightness($color) > 60){
      color: #000;
    }@else{
      color: #fff;
    }

    &:hover{
      background-color: darken($color, 10%);
      @if(lightness($color) > 60){
        color: #000;
      }@else{
        color: #fff;
      }
    }
  }

  .class-btn-background-outline-#{$class}{
    background-color: #fff;
    color: $color;
    border-color: $color;

    &:hover{
      background-color: $color;
      @if(lightness($color) > 60){
        color: #000;
      }@else{
        color: #fff;
      }
    }
  }

  .badge-#{$class}{
    background-color: $color;
    @if(lightness($color) > 60){
      color: #000;
    }@else{
      color: #fff;
    }
  }
}

.team-overview-class{
  margin: 2rem 0;
}
#driver-search-button{
  cursor: pointer;
}
.search-group-title{
  width: 20%;
  min-width: 150px
}
#add-driver-form{
  float:right;
}
.add-driver-form{
  display:none;
}
.add-driver-form-active{
  display:block;
}

.round-tabs .nav-item .nav-link{
  border: 1px solid rgba(240,240,240,1);
}
.round-tabs a.nav-link.active, .round-tabs a.nav-link:hover {
  background-color: $brand-primary !important;
  color: #fff !important;
}
#round-sessions-table th,
#round-sessions-table td{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.jumbotron.round-frame{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-top: 2rem;
}
#rulebook{
  h3{
    width: auto;
    margin-top:2rem;
    padding: 0.5rem;
    cursor: pointer;
    &:hover{
      i{
        color: $brand-primary;
      }
    }
  }
  table{
    margin-top:1rem;
    margin-bottom:1rem;
  }
}
#openAllRules{
  cursor: pointer;
}
ol.rulebook-section{
 list-style-type: none;
 counter-reset: item;
 display: none;
 li{
   padding-left: 1rem;
   margin-top: 0.5rem;

   pre{
     display: block;
     padding: 1rem 2rem;
     text-align: center;
     background-color: #eee;
     border: 1px solid #444;
     margin: 1rem 3rem;
   }
 }
 >li::before{
   content: counter(item, lower-alpha) ") ";
   counter-increment: item;
   font-weight: bold;
   position: absolute;
   left:56px;
 }
 ol{
   list-style-type: none;
   counter-reset: item2;
   >li::before{
     content: counter(item, lower-alpha) "." counter(item2, decimal) ") ";
     counter-increment: item2;
     font-weight: bold;
     position: absolute;
     left:96px;
   }
 }
}

.btn-outline-dark:hover{
  color: #fff !important;
}
#twitter-module{
  overflow-y: scroll;
  height: 30rem;
  border: 1px solid $lightborder;
  border-radius: $border-radius;
  flex-grow: 1;
}

div.footer-container{
  margin-top: auto;
  background-color: #fff;
  color: $primary;
  font-size: 0.75rem;
  border-top: 1px dashed $primary;
  footer{
    .footer-block{
      @include media-breakpoint-up(md){
        border-right: 1px solid $primary;

        &:last-child{
          border-right: 0;
        }
      }
    }

    h3{
      text-align: center;
    }
    a{
      border: 1px solid #fff;
      color: $primary;
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      text-decoration: none;
      text-align: center;

      transition: all 0.25s;

      &:hover{
        color: $link-hover-color;
        border-color: $link-hover-color;
        background-color: #fff;
        transform: translateY(-0.25rem) translateX(-0.25rem);
        -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
        box-shadow: 0.25rem 0.25rem 0.25rem 0px rgba(0,0,0,0.75);
      }
    }

    a.fblink:hover{
      color: $facebookblue !important;
      border-color: $facebookblue !important;
    }
    a.twlink:hover{
      color: $twitterblue !important;
      border-color: $twitterblue !important;
    }
    a.ytlink:hover{
      color: $youtubered !important;
      border-color: $youtubered !important;
    }
    a.corelink{
      background-image: linear-gradient(0deg, rgba(255,255,255,0.95) 50%, rgba(255,255,255,0.85) 50%), url('../img/core2k19_mainlogo_black-1024x330.png');
      background-size: 100% 10rem, contain;
      background-position: 0 -5rem, center;
      background-repeat: no-repeat;

      &:hover{
        color: $coreorange !important;
        border-color: $coreorange !important;
        background-position: 0 0, center;
      }
    }
    a.racespotlink{
      background-image: linear-gradient(0deg, rgba(255,255,255,0.95) 50%, rgba(255,255,255,0.85) 50%), url('../img/racespot-logo.png');
      background-size: 100% 10rem, contain;
      background-position: 0 -5rem, center;
      background-repeat: no-repeat;

      &:hover{
        color: $racespotblack !important;
        border-color: $racespotblack !important;
        background-position: 0 0, center;
      }
    }
    a.discordlink{
      background-image: linear-gradient(0deg, rgba(255,255,255,0.95) 50%, rgba(255,255,255,0.85) 50%), url('../img/discord.png');
      background-size: 100% 10rem, contain;
      background-position: 0 -5rem, center;
      background-repeat: no-repeat;

      &:hover{
        color: $discordviolet !important;
        border-color: $discordviolet !important;
        background-position: 0 0, center;
      }
    }
  }
}

table.result-table{
  table-layout: auto;
  th{
    width: auto;
    &:nth-child(1){
      width: 4rem;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(6),
    &:last-child{
      width: 5rem;
    }
    &:nth-child(5){
      width: 8rem;
    }
  }
  .small-result{
    font-size: 0.8rem;
    padding: 1rem 0.1rem !important;
    width: auto !important;
  }
}
#results_controlbox_class button{
  cursor:pointer;
}

body#admin-dashbord{
  background: 0;
  background-color: #fff;

  nav{
    box-shadow: none;
    background-color: #fff !important;
  }

  .dashbord-modul{
    display:block;
    width: auto;
    overflow: hidden;
    float:left;
    margin: 0.5rem;
  }
  .dashbord-log-table{
    max-height: 500px;
    overflow-y: scroll;
  }
}

.sco-table-sort{
  cursor: pointer;
  :hover{
    text-decoration: underline;
  }
}
.useless-card-body{
  font-family: 'IM Fell Great Primer', serif;
  color: #444;
}

#teams-table{
  th,td{
    box-sizing: border-box;
    vertical-align: middle;
    &:nth-child(1){
      text-align: center;
      width:3.5rem;
    }
    &:nth-child(2){
      width:auto;
    }
    &:nth-child(3){
      text-align: center;
      width:5rem;
      height:2.5rem;
      padding: 0.25rem;
    }

    .irating-average{
      display: block;
      color: $gray-700;
      font-size: 0.6rem;
      line-height: 0.5rem;
      margin-bottom: -0.5rem;
    }
  }
}

.teamtabletoggle{
  cursor: pointer;

  .toggle-icon{
    i{
      transition: transform .5s cubic-bezier(1,0,.5,1.76);
    }
    i.closed{
      transform: rotate(0deg);
    }
    i.open{
      transform: rotate(180deg);
    }
  }
}

.team_summary{
  font-weight: normal;
  font-size: 1rem;
  margin-left: 1rem;

  .team_summary_toggler{
    cursor: pointer;
  }

  .team_summary_sep{
    display: inherit;
  }
  .team_summary_title{
    display: none;
  }
}
.team_summary_open{
  display:block;
  position:absolute;
  top: 0rem;
  left: 1.6rem;
  background-color: #fff;
  @extend .p-3;
  @extend .border;
  @extend .rounded;

  .team_summary_toggler{
    display: block;
  }

  .team_summary_sep{
    display: none !important;
  }

  .team_summary_sub{
    display: block !important;
    @extend .my-1;

    .team_summary_title{
      display: inline-block !important;
    }
  }
}

span.clear_driver{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.crs-ptr{
  cursor: pointer;
}

.admin-alert{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

.admin-checkbox{
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1rem;
  width: 3rem;

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked{
      ~.admin-check{
        background-image: url('img/checked.png');
      }
    }

  }
  &:hover{
    input{
      ~.admin-check{
        background-image: url('img/unchecked_hover.png');
      }
      &:checked{
        ~.admin-check{
          background-image: url('img/checked_hover.png');
        }
      }
    }
  }
}

.admin-check{
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 3rem;
  background-color: #fff;
  background-size: contain;
  background-image: url('img/unchecked.png');
}

#other-site{
  margin: -1.5rem -1.5rem 1rem -1.5rem;
  padding: 0.5rem 1rem;
  background-color: $blue;
  color: $white;
  a{
    font-weight: bold;
    color: $white;
    &:hover{
      color: $red;
    }
  }
}
@include media-breakpoint-down(sm){
  #other-site{
    margin: -0.5rem -0.5rem 1rem -0.5rem;
  }
}

table#cleanx-result{
  th{
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4){
      width: 4rem;
    }

    &:nth-child(3){
      width: auto;
    }
  }
}

.manufactur-img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.manufactur-img-4,
.manufactur-img-12{
  background-image: url('img/audi-rings.svg');
}
.manufactur-img-9,
.manufactur-img-15{
  background-image: url('img/bmw.svg');
}
.manufactur-img-2,
.manufactur-img-6{
  background-image: url('img/ferrari.svg');
}
.manufactur-img-5{
  background-image: url('img/mercedes-star.svg');
}
.manufactur-img-10,
.manufactur-img-13,
.manufactur-img-14{
  background-image: url('img/porsche.svg');
}
.manufactur-img-1{
  background-image: url('img/hpd.svg');
}
.manufactur-img-3{
  background-image: url('img/ford.svg');
}
